@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
  font-family: 'Lora', serif;
  background-color: #424f67;
  
}

.toast-header{
  border-bottom: 2px solid black;
  justify-content: center;
  background-color: #f0f0f0;
}

.toast-header > h1 {
  font-size: 3rem;
}

.container {
  /* border: 2px solid red; */
  background-color: #9aa493;
}

.form-field{
  /* border: 2px solid purple; */
  margin: 1rem 0;
  background-color: #f0f0f0;
}

.tableContainer{
  /* border: 2px solid blue ; */
  margin-bottom: 1rem;
  background-color: #f0f0f0;
}

/* note for making thead invisible   */
thead { opacity: 0; border: 0 none; height: 0; }
thead * { margin: 0; padding: 0; border: 0 none; height: 0px; }
/* from https://stackoverflow.com/questions/40979544/hide-thead-but-keep-its-cells-width-in-tbody */


/* completed task bg */
.markComplete{
  background-color: seagreen;
}
